.main-screen{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.pros-container
{
    margin-top: 2em;
    margin-right: 10em;
}
.player
{
    width: 20em;
    justify-content: left;
}
.player .versus-text
{
    margin-left: 2em;
}
.player .player-img
{
    margin-left: 7em;
    margin-right: 1em;
}
.add-pro
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    margin-top: 2em;
}
.search-pro
{
    margin-bottom: 0.2em;
    width: 8.5em;
}
.add-pro-button
{
    margin-bottom: 0.5em;
    width: 8.5em;
}